@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss";

@theme {
  --color-ghost: oklch(98.4% 0.003 247.858);
  --color-carbon: oklch(44.6% 0.043 257.281);
  --color-accent: oklch(20.8% 0.042 265.755);

  --font-ubuntu: "Ubuntu", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-ubuntu);
  }

  body {
    background-color: var(--color-ghost);
    color: var(--color-carbon);
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] border-gray-300 px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-accent text-ghost p-2 rounded my-1 hover:bg-accent/80 cursor-pointer;
  }

  .app-container {
    @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8;
  }

  .input-label {
    @apply text-sm text-slate-400;
  }
}
